{% extends 'base.html' %}

{% block content %}
    <h2>Conversation</h2>
    <div class="chat-container">
        <div>
            <h3 id="first_person">{{ first_user }}</h3>
            <h3 id="second_person">{{ second_user }}</h3>
        </div>
        <div>
            <label for="chat-log">Chat log</label>
            <textarea id="chat-log" readonly>
            </textarea>
        </div>
        <div>
            <label for="chat-input">Enter message</label>
            <input id="chat-input" placeholder="Your message">
            <button id="chat-input-submit">Send</button>
        </div>
    </div>
    <script>
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + document.getElementById("first_person").textContent
            + '/'
            + document.getElementById("second_person").textContent
            + '/'
        );

        const chatLog = document.getElementById("chat-log");

        chatSocket.onmessage = (e) => {
            const data = JSON.parse(e.data)["message"];
            chatLog.value += data + "\n";
        };

        chatSocket.onclose = (e) => {
            chatLog.value += "Connection lost!" + String(e) + "\n";
        };

        const chatInput = document.getElementById("chat-input");

        document.getElementById("chat-input-submit").onclick = (e) => {
            console.log("Clicked!" + chatInput.length);
            if (!chatInput) {
                return;
            }
            const sentMessage = {
                "message": chatInput.value
            };
            chatSocket.send(JSON.stringify(sentMessage));
            console.log("Sent!");
            chatInput.value = "";
        };

    </script>
{% endblock %}